<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Narrow Jumbotron Template for Bootstrap</title>

    <!-- Core CSS -->
    <link href="/style.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">File Server</h3>
      </div>
      <nav class="breadcrumb">
          <% breadcrumbs.forEach(function (breadcrumb, i) { %>
            <% if (breadcrumbs.length - 1 == i) { %>
              <span class="breadcrumb-item active"><%= breadcrumb.title %></span>
            <% } else { %>
              <a class="breadcrumb-item" href="<%= breadcrumb.url %>"><%= breadcrumb.title %></a>
            <% } %>
          <% }) %> 
      </nav>

      <!-- Good for uploading box that we made it later :)) -->
      <!-- <div class="jumbotron">
        <h1 class="display-3">Jumbotron heading</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
      </div> -->

      <div class="row marketing">
          <%- include('files'); %>        
      </div>

      <footer class="footer">
        <p>&copy; Company 2017</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
