<div class="table-responsive">
  <h2>Files</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Size (KB)</th>
      </tr>
    </thead>
    <tbody>
    <% files.forEach(function(file, i) { %>
      <tr>
        <td><%= i + 1 %></td>
        <td><a href="<%= file.url %>"><%= file.name %></a></td>
        <td><%= (typeof file.size != 'undefined') ? file.size : '-' %></td>
        </tr> 
    <% }); %>
    </tbody>
  </table>
</div>